<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>Secured</display-name>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <url-pattern>/components/*</url-pattern>
            <url-pattern>/resources/*</url-pattern>
            <url-pattern>/templates/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Pages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Librarian</display-name>
        <web-resource-collection>
            <web-resource-name>Librarian Pages</web-resource-name>
            <url-pattern>/librarian/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>librarian</role-name>
        </auth-constraint>
    </security-constraint>
        
    <security-constraint>
        <display-name>Member</display-name>
        <web-resource-collection>
            <web-resource-name>Member Pages</web-resource-name>
            <url-pattern>/member/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>librarian</role-name>
            <role-name>member</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>librarian</role-name>
    </security-role>
    <security-role>
        <role-name>member</role-name>
    </security-role>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>database-realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/loginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/error403.xhtml</location>
    </error-page>
    <!--    <error-page>
        <error-code>500</error-code>
        <location>/error/error500.xhtml</location>
    </error-page>-->
</web-app>
